# Mode debug: True untuk development, False untuk production
DEBUG=True

# Secret key Django (gantilah dengan string acak yang aman)
SECRET_KEY=hd6&0$nnj5n)qe@s9#q&rkz!e&3anx8p91#gfos4sbgijmub^7

# Daftar host yang diperbolehkan (pisahkan dengan koma)
ALLOWED_HOSTS=127.0.0.1,localhost

# Konfigurasi database PostgreSQL
DATABASE_NAME=sinfopers
DATABASE_USER=postgres
DATABASE_PASSWORD=secret99
DATABASE_HOST=localhost
DATABASE_PORT=5432

# CSRF Trusted Origins jika digunakan (opsional)
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
